name: Deploy Frontend Public to GHCR

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare repository owner name
        id: prep
        run: echo "repo_owner=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ steps.prep.outputs.repo_owner }}/frontend-cursala-public
          tags: |
            type=raw,value=latest
            type=sha,prefix={{branch}}-
            type=ref,event=branch

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            NEXT_PUBLIC_URL_BACK=${{ secrets.NEXT_PUBLIC_URL_BACK }}
            NEXT_PUBLIC_FRONTEND_PRIVATE_URL=${{ secrets.NEXT_PUBLIC_FRONTEND_PRIVATE_URL }}
            NEXT_TELEMETRY_DISABLED=1
          cache-from: type=registry,ref=ghcr.io/${{ steps.prep.outputs.repo_owner }}/frontend-cursala-public:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ steps.prep.outputs.repo_owner }}/frontend-cursala-public:buildcache,mode=max
